@import "tailwindcss";
@import "../styles/typography.css";
@import "../smart-cookbook/styles/globals.css";

@layer base {
    :root {
        --font-sans: var(--font-geist-sans);
        --font-mono: var(--font-geist-mono);
    }

    body {
        font-family: var(--font-sans), system-ui, sans-serif;
    }
}
